
      <div class="meta">
              <div class="articleTitle"> 
                  <span>title</span>
                  <input type="text" [(ngModel)]='selectedArticle.title'> 
              </div>
              <span class="articleCategory">
                  <span>category</span>
                  <button class="button1">{{selectedArticle.category}} &nbsp; <i class="fas fa-times"></i> </button>
              </span>
              <span class="articleTags">
                  <span>tags <span>max 5</span></span> 
                  <div>
                      <button class="button1" *ngFor="let tag of selectedArticle.tags; index as i" (click)="removeTag(i)">{{tag}} &nbsp; <i class="fas fa-times"></i> </button>
                      <button class="button2" *ngIf = "selectedArticle.tags.length < 5"> <i class="fas fa-plus"></i> </button>
                  </div>
      
              </span>
              <div class="articleShortDescription">
                  <span>short description</span> <br>
                  <textarea name="" maxlength="200"  rows="3" [(ngModel)]="selectedArticle.shortDescription"></textarea>
                  
              </div>
              <span>
                  TL;DR Enabled 
                  <button class="button2" (click) = "tldrSwitch()">
                      {{ tldrEnabled ? 'True' : 'False'}}
                  </button>
              </span>
              <div class="articleTLDR" *ngIf = "tldrEnabled">
                  <span>TL;DR <span>max 5</span></span>
                  <ul>
                      <li *ngFor="let tldr of selectedArticle.tldr; index as i">
                          <input  [(ngModel)]='selectedArticle.tldr[i]'>
                          <span class="" (click)="removeTLDR(i)"><i class="fas fa-times"></i> </span>
                      </li>
                      <li *ngIf = "selectedArticle.tldr.length < 5">
                          <input 
                              maxlength="70"
                              type="text" 
                              placeholder="add more" 
                              (keyup.enter)="addTLDR($event)"
                          >
                      </li>
                  </ul>
              </div>             
      </div>
      <div class="content">
          <div class="articleParagraphs">
              <span>Paragraphs</span>
              <ul>
                  <li *ngFor="let par of selectedArticle.paragraphs; index as i">
                      <textarea  [(ngModel)]='selectedArticle.paragraphs[i]' rows="4"></textarea>
                  </li>
                  <li>
                      <button 
                          class="button2"
                          (keyup.enter)="addParagraph($event)"
                      >Add Paragraph</button>
                  </li>
              </ul>
          </div>  
          
      </div>

      <ng-template #noneSelected>
        <p>nothing selected</p>
    </ng-template>


