
      <div class="meta">
              <div class="articleTitle"> 
                  <span>title</span>
                  <input type="text" [(ngModel)]='selectedArticle.title'> 
			  </div>
<span class="articleCategory">
    <span class="title" style="grid-area:1/1">category</span>
    <div style="grid-area:1/2">
        <button 
            class="button1" 
            *ngFor="let cat of selectedArticle.category; index as i" 
            (click)="removeCategory(i)"
        >
            {{cat}} &nbsp; <i class="fas fa-times"></i> 
        </button>
        
    </div>
    <ng-container *ngIf = "selectedArticle.category.length < 2">
        <div class="addTag" style="grid-area:2/1/2/3">
            
            <span>category title</span>
            <input 
                type="text"
                (keyup.enter)="changeCategory(categoryInput)"
                placeholder="Enter a category"
                #categoryInput
            > 
            <button 
                class="button2" 
                (click)="changeCategory(categoryInput)"
            >
                <i class="fas fa-plus"></i> 
            </button>
        </div>

    </ng-container>
</span>
              <span class="articleTags">
                  <span class="title">tags <span>max 5</span></span> 
                  <div>
                      <button class="button1" *ngFor="let tag of selectedArticle.tags; index as i" (click)="removeTag(i)">{{tag}} &nbsp; <i class="fas fa-times"></i> </button>
                      
                  
                  <ng-container *ngIf = "selectedArticle.tags.length < 5">
                      <div class="addTag">
                        
                        <span>tag title</span>
                        <input type="text" (keyup.enter)="addTag(tagInput)" placeholder="Enter a tag" #tagInput> 
                        <button class="button2" (click)="addTag(tagInput)"> <i class="fas fa-plus"></i> </button>
                      </div>

				  </ng-container>
				</div>
                  
      
              </span>
              <div class="articleShortDescription">
                  <span class="title">short description</span> <br>
                  <textarea name="" maxlength="200"  rows="5" [(ngModel)]="selectedArticle.shortDescription"></textarea>
                  
              </div>
              <div class="articleTLDR">
                  <span>TL;DR <span>max 5</span></span>
                  <ul>
                      <li *ngFor="let tldr of selectedArticle.tldr; index as i">
                          <input  [(ngModel)]='selectedArticle.tldr[i].value'>
                          <span class="" (click)="removeTLDR(i)"><i class="fas fa-times"></i> </span>
                      </li>
                      <li *ngIf = "selectedArticle.tldr.length < 5">
                          <input 
                              maxlength="70"
                              type="text" 
                              placeholder="add more" 
                              (keyup.enter)="addTLDR($event)"
                          >
                      </li>
                  </ul>
              </div>             
      </div>
      <div class="content">
          <div class="articleParagraphs">
              <span>Paragraphs</span>
              <ul>
                  <li *ngFor="let par of selectedArticle.paragraphs;index as i;">
                      <textarea  [(ngModel)]='selectedArticle.paragraphs[i].value' rows="6"></textarea>
                  </li>
                  <li>
                      <button 
                          class="button2"
                          (click)="addParagraph()"
                      >Add Paragraph</button>
                  </li>
              </ul>
          </div>  
          
      </div>

      <ng-template #noneSelected>
        <p>nothing selected</p>
    </ng-template>


