:host {
    
}
nav {
    height: 100%;
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    text-align: center;
    span {
        margin: 1vh 1vh;
    }
    a {
        color: #517C81;
        text-decoration: none;
        font-size: 1.2em;
    }
}
.current {
    background-color: white;
    padding: 1vh;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}
