.tile {
    opacity: .5;
    outline: 0.5px solid rgba(0, 0, 0, 0.1);
    user-select: none;
    /* z-index: 10; */
    &:hover {
        background-color: rgb(240, 240, 240);
    }
}
.addButton {
    position: relative;
    z-index: 999;
    height: 100%;
    width: 100%;
}

.customDiv {
    z-index: 9999;
    display: grid;
}

.highlight {
    outline: 2px dashed rgba(0, 0, 0, 0.5);
    z-index: 999999 !important;
}

/* TYPES OF DIVS */
.title {
    align-self: center;
    text-align: center;
    height: 100%;
    margin: 0;
    h3 {
        margin: 0;
    }
}

.meta {
    span {
        margin-right: 2vw;
    }

    .flexMeta {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .gridMeta {
        display: grid;
        align-items: center;
        justify-content: center;
        padding-left: 2vw;
    }
}

/* TYPES OF DIVS */
