<ng-container *ngIf="!editorMode && selectedPreset!==null">
  <div class='wrapper' [ngStyle]="getPresetStyle()">
      <ng-container *ngFor = "let div of divs">
        <div 
          [id] = 'div.id' 
          [class]="div.class" 
          [ngStyle] = "div.style" 
          (click)="selectDiv($event)"
          [ngClass]="{'nzFlexCenter': div.class == 'title'}"
        >

            <ng-container *ngIf="div.class == 'paragraphs'">
              <p *ngFor="let p of articles[div.class]">{{p}}</p>
            </ng-container>

            <ng-container *ngIf="div.class == 'tldr'">
              <ul>
                <li *ngFor="let tldr of articles[div.class]"> {{tldr}} </li>
              </ul>
            </ng-container>

            <ng-container *ngIf="div.class == 'meta'">
                <span>Author: {{articles.author}}</span> 
                <span>Date: {{articles.date}}</span> 
                <span>Category: {{articles.category}}</span> 
                <span>
                      <span *ngFor="let tag of articles.tags"> {{tag}} </span>
                </span>

                

            </ng-container>

            <ng-container *ngIf="div.class == 'title'" >
              <h3 class="nzFlexCenter">{{articles.title}}</h3>
            </ng-container>
            
            
<!--           {{articles[div.class]}}
          {{div.class}} -->
        </div>
      </ng-container>
      
    </div>
</ng-container>
<ng-container *ngIf="editorMode && selectedPreset!==null">
  <div class="grid" [ngStyle]="setGrid()" #grid>
    <div 
      class='tile' 
      *ngFor="let tile of Grid; let i=index" 
      (mousedown) = "tileDragStart($event)"
      (mouseover) = "tileDragOver($event)"
      [ngStyle]="{'grid-area': tile.gridArea}"
      (click)="tileClick()"
      
      >
    </div>

    <div 
      *ngFor="let div of wcs.Presets[this.selectedPreset].divs" 
      [ngStyle]="div.style" 
      class="customDiv"
      [class]="div.class" 
      [id]="div.id"
      [ngClass]="{'nzFlexCenter': div.class == 'title', 'highlight':div.class == insertDiv}"
      (click)="divClick(div)"
    >
        <ng-container *ngIf="div.class == 'paragraphs'">
            <p *ngFor="let p of articles[div.class]">{{p}}</p>
          </ng-container>
          
          <ng-container *ngIf="div.class == 'tldr'">
            <ul>
              <li *ngFor="let tldr of articles[div.class]"> {{tldr}} </li>
            </ul>
          </ng-container>
          
          <ng-container *ngIf="div.class == 'meta'">
            <div [ngClass]="setClass(div)">
                <span>{{articles.author}}</span> 
                <span>{{articles.date}}</span> 
                <span>Category: {{articles.category}}</span> 
                <span>
                      <span *ngFor="let tag of articles.tags"> {{tag}} &nbsp; </span>
                </span>
            </div>

          </ng-container>
          
          <ng-container *ngIf="div.class == 'title'" >
            <h3 class="">{{articles.title}}</h3>
          </ng-container>
          <ng-container *ngIf="div.class == 'shortDescription'" >
            <h4 class="">{{articles.shortDescription}}</h4>
          </ng-container>
      
<!--       {{articles[div.class]}}
      {{div.class}} -->
    </div>

    <div class="temp" #temp *ngIf="selection" style="background-color:black; color:white;">
      <button (click)="setDiv()" *ngIf="dragMode == 2 && sizeNewDivOK" class="addButton">Set as {{insertDiv}}</button>
    </div>

<!--     <div class="divOverlay" #divOverlay *ngIf="!newElement">
      ayyyy
    </div> -->

  </div>
</ng-container>
