<!-- <div class="left">
    <app-dashboard-navigation></app-dashboard-navigation>

    <div class="layouts">
        <div class="layoutConsole"> 
            <button class="consoleButton" (click)="consoleMode()"> 
                    {{consoleOptions[consoleCurrent]}} 
            </button>
        </div>

        <ng-container *ngIf="listView && consoleCurrent == 0">
            <div class='list'>
                <ul>
                    <li 
                        *ngFor="let preset of presets; index as i"
                        (click) = "selectItem(i)"
                    >
                        {{preset.name}} 
                    </li>
                </ul>
                <span (click)="newItem()" class="newItem">
                    New
                </span>

            </div>
        </ng-container>

        <ng-container *ngIf="consoleCurrent == 2"> 
            <div class='list'>
                <ul>
                    <li 
                        *ngFor="let article of articles; index as i"
                        (click) = "selectItem(i)"
                    >
                        {{article.title}} 
                    </li>
                </ul>
                <span (click)="newItem()" class="newItem">
                    New
                </span>

            </div>
        </ng-container>

        <ng-container *ngIf="detailView && consoleCurrent == 0 ">
            <div class='details'>

                <div class="back">
                    <button class="icon" (click) = "toListView()"><i class="fa fa-chevron-left"></i></button>
                    <button (click) = "toListView()" >{{presets[selectedPreset].name}}</button>
                    <button class="icon" (click) = "toggleSettings()"><i class="fa fa-cog"></i></button>
                </div>

                <ng-container *ngIf="detailMode == 'default'">
                    <div class="elementList">
                        <div 
                            class="element"
                            *ngFor="let element of wcs.elements"
                            [ngClass]="checkExist(element.id)"
                        >
                            <button (click)="elementClick(element.id)" >
                                {{element.title}}
                            </button> 
                            <button (click)="elementStyle(element.id)"><i class="fas fa-tint"></i></button>
                            <button (click)="elementResize(element.id)">
                                <i *ngIf="resizeMode && element.id == insertDiv" class="fa fa-undo"></i>
                                <i *ngIf="!resizeMode || element.id != insertDiv" class="fas fa-expand-arrows-alt"></i>
                            </button>
                            <button (click)="elementDelete(element.id)"><i class="fas fa-times-circle"></i></button>
                        </div>

                    </div>
                </ng-container>

                <ng-container *ngIf="detailMode == 'settings'">
                    <div>
                        <input type="text" [(ngModel)] = 'presets[selectedPreset].name'>
                        <button>Save</button>
                    </div>
                    <div>
                        <span>delete me ayyy</span>
                    </div>
                </ng-container>
                <ng-container *ngIf="detailMode == 'style' && insertDiv != null">
                    <div class='styleMode'>
                        <span>{{insertDiv}}</span>
                        <button (click)="elementStyle(null)"><i class="fas fa-times"></i></button>
                        <div class='styleOptions'>
                            <div class='textAlign'>
                                <span>Text Alignment</span>
                                <button (click)="setStyle('textAlignLeft')">l</button>
                                <button (click)="setStyle('textAlignRight')">r</button>
                                <button (click)="setStyle('textAlignCenter')">c</button>
                                <button (click)="setStyle('textAlignJustify')">j</button>
                            </div>
                            <div class='padding'>
                                <span>Padding</span>
                                <button (click)="setStyle('padding', 'minus')">-</button>
                                <span>{{currentElementStyles.padding}}</span>
                                <button (click)="setStyle('padding', 'plus')">+</button>
                            </div>
                            <div class='fontSize'>
                                <span>Font Size</span>
                                <button (click)="setStyle('fontSize', 'minus')">-</button>
                                <span>{{currentElementStyles['font-size']}}</span>
                                <button (click)="setStyle('fontSize', 'plus')">+</button>
                            </div>
                            <div class='radius'>
                                <span>Border Radius</span>
                                <button (click)="setStyle('radius', 'minus')">-</button>
                                <span>{{currentElementStyles['border-radius']}}</span>
                                <button (click)="setStyle('radius', 'plus')">+</button>
                            </div>
                            <div class='backColor'>
                                <span>Background Color</span>
                                <button class="colorButton black" (click)="setStyle('backColor', '#000a12')" style="background-color:#000a12"></button>
                                <button class="colorButton darkGrey" (click)="setStyle('backColor', '#616161')" style="background-color:#616161"></button>
                                <button class="colorButton lightGrey" (click)="setStyle('backColor', '#eeeeee')" style="background-color:#eeeeee"></button>
                                <button class="colorButton white" (click)="setStyle('backColor', '#ffffff')" style="background-color:#ffffff"></button>
                                <button class="colorButton blue" (click)="setStyle('backColor', '#0277bd')" style="background-color:#0277bd"></button>
                                <button class="colorButton red" (click)="setStyle('backColor', '#c62828')" style="background-color:#c62828"></button>
                                <button class="colorButton yellow" (click)="setStyle('backColor', '#fdd835')" style="background-color:#fdd835"></button>
                                <button class="colorButton green" (click)="setStyle('backColor', '#43a047')" style="background-color:#43a047"></button>
                            </div>
                            <div class='color'>
                                <span>Text Color</span>
                                <button class="colorButton black" (click)="setStyle('color', '#000a12')" style="background-color:#000a12"></button>
                                <button class="colorButton darkGrey" (click)="setStyle('color', '#616161')" style="background-color:#616161"></button>
                                <button class="colorButton lightGrey" (click)="setStyle('color', '#eeeeee')" style="background-color:#eeeeee"></button>
                                <button class="colorButton white" (click)="setStyle('color', '#ffffff')" style="background-color:#ffffff"></button>
                                <button class="colorButton blue" (click)="setStyle('color', '#0277bd')" style="background-color:#0277bd"></button>
                                <button class="colorButton red" (click)="setStyle('color', '#c62828')" style="background-color:#c62828"></button>
                                <button class="colorButton yellow" (click)="setStyle('color', '#fdd835')" style="background-color:#fdd835"></button>
                                <button class="colorButton green" (click)="setStyle('color', '#43a047')" style="background-color:#43a047"></button>
                            </div>
                        </div>
                    </div>
                </ng-container>

            </div>
        </ng-container>
    </div>
</div>


<div class="right">

    <app-webpage 
        *ngIf="consoleCurrent == 0 && selectedPreset!==null"
        [selectedPreset] = "selectedPreset" 
        [editorMode] = "editorMode" 
        [insertDiv] = "insertDiv"
        (insertDivUpdate)="insertDivUpdate($event)"
    >

    </app-webpage>
    <app-articles-manager *ngIf="consoleCurrent == 2 && selectedArticle!==null" [selectedArticle] = "selectedArticle" [selectedArticleIndex] = 'selectedArticleIndex'></app-articles-manager>
</div> -->