<div class="left">
    <app-dashboard-navigation></app-dashboard-navigation>

    <div class="layouts">
        <div class="layoutConsole"> <!-- switchanje izmedu console modova -->
            <button class="consoleButton" (click)="consoleMode()"> 
                    {{consoleOptions[consoleCurrent]}} <!-- &nbsp; <i class="fas fa-caret-right"></i> -->
            </button>
        </div>

        <ng-container *ngIf="listView && consoleCurrent == 0"> <!-- PRESET LIST -->
            <div class='list'>
                <ul>
                    <li 
                        *ngFor="let preset of presets; index as i"
                        (click) = "selectItem(i)"
                    >
                        {{preset.name}} 
                    </li>
                </ul>
                <span (click)="newItem()" class="newItem">
                    New
                </span>

            </div>
        </ng-container>

        <ng-container *ngIf="consoleCurrent == 2"> <!-- ARTICLE LIST -->
            <div class='list'>
                <ul>
                    <li 
                        *ngFor="let article of articles; index as i"
                        (click) = "selectItem(i)"
                    >
                        {{article.title}} 
                    </li>
                </ul>
                <span (click)="newItem()" class="newItem">
                    New
                </span>

            </div>
        </ng-container>

        <ng-container *ngIf="detailView && consoleCurrent == 0 "> <!-- PRESET DETAIL -->
            <div class='details'>

                <div class="back">
                    <button class="icon" (click) = "toListView()"><i class="fa fa-chevron-left"></i></button>
                    <button (click) = "toListView()" >{{presets[selectedPreset].name}}</button>
                    <button class="icon" (click) = "toggleSettings()"><i class="fa fa-cog"></i></button>
                </div>

                <ng-container *ngIf="detailMode == 'default'">
                    <div class="elementList">
                        <div 
                            class="element"
                            *ngFor="let element of wcs.elements"
                            [ngClass]="checkExist(element.id)"
                        >
                            <button (click)="elementClick(element.id)" >
                                {{element.title}}
                            </button> 
                            <button (click)="elementStyle(element.id)"><i class="fas fa-tint"></i></button>
                            <button (click)="elementResize(element.id)">
                                <i *ngIf="resizeMode && element.id == insertDiv" class="fa fa-undo"></i>
                                <i *ngIf="!resizeMode || element.id != insertDiv" class="fas fa-expand-arrows-alt"></i>
                            </button>
                            <button (click)="elementDelete(element.id)"><i class="fas fa-times-circle"></i></button>
                        </div>

                    </div>
                </ng-container>

                <ng-container *ngIf="detailMode == 'settings'">
                    <div>
                        <input type="text" [(ngModel)] = 'presets[selectedPreset].name'>
                        <button>Save</button>
                    </div>
                    <div>
                        <span>delete me ayyy</span>
                    </div>
                </ng-container>
                <ng-container *ngIf="detailMode == 'style' && insertDiv != null">
                    <div class='styleMode'>
                        <span>{{insertDiv}}</span>
                        <button (click)="elementStyle(null)"><i class="fas fa-times"></i></button>
                        <div class='styleOptions'>
                            <div class='textAlign'>
                                <button (click)="setStyle('textAlignLeft')">tal</button>
                                <button (click)="setStyle('textAlignRight')">tar</button>
                                <button (click)="setStyle('textAlignCenter')">tac</button>
                                <button (click)="setStyle('textAlignJustify')">taj</button>
                            </div>
                            <div class='padding'>
                                <button (click)="setStyle('padding', 'minus')">pa-</button>
                                <span>{{currentElementStyles.padding}}</span>
                                <button (click)="setStyle('padding', 'plus')">pa+</button>
                            </div>
                            <div class='fontSize'>
                                <button (click)="setStyle('fontSize', 'minus')">fs-</button>
                                <span>{{currentElementStyles['font-size']}}</span>
                                <button (click)="setStyle('fontSize', 'plus')">fs+</button>
                            </div>
                            <div class='radius'>
                                <button (click)="setStyle('radius', 'minus')">fs-</button>
                                <span>{{currentElementStyles['border-radius']}}</span>
                                <button (click)="setStyle('radius', 'plus')">fs+</button>
                            </div>
                        </div>
                    </div>
                </ng-container>

            </div>
        </ng-container>
    </div>
</div>


<div class="right">

    <app-webpage 
        *ngIf="consoleCurrent == 0 && selectedPreset!==null"
        [selectedPreset] = "selectedPreset" 
        [editorMode] = "editorMode" 
        [insertDiv] = "insertDiv"
        (insertDivUpdate)="insertDivUpdate($event)"
    >

    </app-webpage>
    <app-articles-manager *ngIf="consoleCurrent == 2 && selectedArticle!==null" [selectedArticle] = "selectedArticle" [selectedArticleIndex] = 'selectedArticleIndex'></app-articles-manager>
</div>