<div class="left">
    <app-dashboard-navigation></app-dashboard-navigation>

    <div class="layouts">
        <div class="layoutConsole"> <!-- switchanje izmedu console modova -->
            <button class="consoleButton" (click)="consoleMode()"> 
                    {{consoleOptions[consoleCurrent]}} <!-- &nbsp; <i class="fas fa-caret-right"></i> -->
            </button>
        </div>

        <ng-container *ngIf="listView && consoleCurrent == 0"> <!-- PRESET LIST -->
            <div class='list'>
                <ul>
                    <li 
                        *ngFor="let preset of presets; index as i"
                        (click) = "selectItem(i)"
                    >
                        {{preset.name}} 
                    </li>
                </ul>
                <span (click)="newItem()" class="newItem">
                    New
                </span>

            </div>
        </ng-container>

        <ng-container *ngIf="consoleCurrent == 2"> <!-- ARTICLE LIST -->
            <div class='list'>
                <ul>
                    <li 
                        *ngFor="let article of articles; index as i"
                        (click) = "selectItem(i)"
                    >
                        {{article.title}} 
                    </li>
                </ul>
                <span (click)="newItem()" class="newItem">
                    New
                </span>

            </div>
        </ng-container>

        <ng-container *ngIf="detailView && consoleCurrent == 0 "> <!-- PRESET DETAIL -->
            <div class='details'>

                <button class="back" (click) = "toListView()">
                    {{presets[selectedPreset].name}}
                </button>

                <span class="buttons">
                    <button (click)="toggleRename()">Rename</button>
                    <button (click)="toggleEditor()">Editor</button>
                    <!-- <button (click)="toggleArticle()">Article</button> -->
                    <button (click)="toggleDelete()">Delete</button>
                </span>

                <ng-container *ngIf="detailMode == 'default'">
                    <div>
                        <span>ayyy</span>
                    </div>
                </ng-container>

                <ng-container *ngIf="detailMode == 'rename'">
                    <div>
                        <input type="text" [(ngModel)] = 'presets[selectedPreset].name'>
                        <button>Save</button>
                    </div>
                </ng-container>

                <ng-container *ngIf="detailMode == 'editor'">
                    <div>
                        <button (click)="insertDiv = 'title'" >Title</button>
                        <button (click)="insertDiv = 'shortDescription'">Short Description</button>
                        <button (click)="insertDiv = 'tldr'">TL;DR</button>
                        <button (click)="insertDiv = 'paragraphs'">Paragraphs</button>
                        <button (click)="insertDiv = 'gallery'">Gallery</button>
                        <button (click)="insertDiv = 'meta'">Meta</button>
                    </div>
                </ng-container>

                <ng-container *ngIf="detailMode == 'article'">
                    <div>
                        yyy
                    </div>
                </ng-container>

                <ng-container *ngIf="detailMode == 'delete'">
                    <div>
                        <span>delete me ayyy</span>
                    </div>
                </ng-container>

            </div>
        </ng-container>
        
    </div>
</div>


<div class="right">

    <app-webpage *ngIf="consoleCurrent == 0 && selectedPreset!==null" [selectedPreset] = "selectedPreset" [editorMode] = "editorMode" [insertDiv] = "insertDiv"></app-webpage>
    <app-articles-manager *ngIf="consoleCurrent == 2 && selectedArticle!==null" [selectedArticle] = "selectedArticle" [selectedArticleIndex] = 'selectedArticleIndex'></app-articles-manager>
</div>