@import '../../styles.scss';
%plusMinus {
    display: grid;
    grid-template-columns: 60% 10% 20% 10%;
    button {
        padding: 0;
    }
    
}

%color {
    display: grid;
    grid-template-rows: 4vh 3vh;
    .colorsTitle {
        text-align: center;
        padding: 0;
    }
    .colorsContainer {
        width: 16vw;
        padding: 0 0 1vh 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(8,min-content);
        justify-content: center;
        
    }

    .colorButton {
        @extend %stripButton;
        height: 3vh;
    }
}

.designWrapper {
    height: 90vh;
    margin: 0 3vh;
    display: grid;
    grid-template-columns: 16vw 1fr;
}

.website {
    height: 80vh;
    width: 80vw;
    justify-self: flex-end;
    align-self: center;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.3);
}
.editor {
    height: min-content;
    max-height: 80vh;
    margin: 5vh 0;
    display: grid;
    box-shadow: 0 5px 5px -5px rgba(51, 51, 51, 0.521);
    }

    .elementList {
        display: grid;
        grid-auto-rows: 5vh;
        div {
            border-bottom: 1px solid rgba(0, 0, 0, 0.11);
            display: grid;
            grid-template-columns: 1fr 10% 10% 10% 5%;
            button {
                @extend %stripButton;
                color: white;
                font-size: 1em;
                
                text-align: left;
                padding: 0 0 0 1vw;

                &:hover {
                    opacity: .7;
                }
            }
        }
    }

    .styleMode {
        display: grid;
        grid-template-rows: 5vh 1fr;
        grid-template-columns: 1fr 5vh;
        background-color: $mb;

        span {
            align-self: center;
            padding: 0 0 0 2vw;
        }
        button {
            @extend %stripButton;
            font-size: 1.4em;
            padding: 0 2vw 0 0;
        }
        
        .styleOptions {
            grid-area: 2/1/2/3;
            background-color: $mb;
            display: grid;
            grid-template-rows: 6vh 6vh 6vh 6vh 8vh 8vh;
            color: white;

            .textAlign {
                display: grid;
                justify-content: center;
                grid-template-columns: max-content max-content max-content max-content;
                

                
            }
            button {
                padding: 1vh 2vh;
                color: white;
                &:hover {
                    color: black;
                }
            }
            
            .padding {
                @extend %plusMinus;
            }
            .fontSize {
                @extend %plusMinus;
            }
            .radius {
                @extend %plusMinus;
            }
            .backColor {
                @extend %color;

            }
            .color {
                @extend %color;
            }
        }
    }




.exist {
background-color: $ag !important;
}
.notExist {
background-color: $mr !important;

}
.editing {
background-color: $mb !important;
}