@import url('https://fonts.googleapis.com/css?family=Montserrat');

$mg : #517C81;
$mr : rgba(217, 54, 54, 0.86);
$sg : rgba(41, 176, 62, 0.84);
$mb : rgba(61, 148, 207, 0.96);
$bw : rgb(245, 245, 245);
$ag : rgba(81, 124, 129, 0.1);

%stripButton {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    &:hover {
        opacity: .8;
    }
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    --mg: #517C81;
    
}

.fsc {
    height: 100%;
    width: 100%;
    display: grid;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridCenter {
    display: grid;
    justify-content: center;
    align-items: center;
}

